body {
    background: linear-gradient(180deg, #FFFFFF 17.59%, rgba(30, 70, 192, 0.77) 80.61%);;
    font-family: "Merriweather San", Arial, Helvetica, sans-serif;
}
.navbar {
    width: 100%;
    background: transparent !important;
  }
  .jumbotron {
    position: relative;
    background-image: url("../img/bwca-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    justify-content: center;
    height: 347px;
  }
 h1 {
      font-size: 32px;
      text-align: center;
      margin: 8px;
      font-family: "Merriweather San", Arial, Helvetica, sans-serif;
      color: black;
  }

.map {
  width: 180px;
  height: 170px;
  margin: 5px auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: rgba(30, 70, 192, 0.8);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.weather {
width: 180px;
height: 170px;
margin: 5px auto;
justify-content: center;
align-content: center;
text-align: center;
background: rgba(255, 161, 83, 0.8);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.safety {
  width: 180px;
  height: 170px;
  margin: 5px auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: rgba(114, 68, 3, 0.8); 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.community {
  width: 180px;
  height: 170px;
  margin: 5px auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: rgba(185, 140, 91, 0.8);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#map {
  width: 111px;
  height: 96px;
  margin-top: 25px;
  align-content: center;
  justify-content: center;
  box-align: center;
}
#weather {
  width: 137px;
  height: 103px;
  margin-top: 25px;
  align-content: center;
  justify-content: center;
  text-justify: center;
}
#safety {
  width: 101px;
  height: 101px;
  margin-top: 25px;
  align-content: center;
  justify-content: center;
  text-justify: center;
}
#community {
  width: 101px;
  height: 101px;
  margin-top: 25px;
  align-content: center;
  justify-content: center;
  text-justify: center;
}
